/* CSS declarations go here */
body {
    background-color: #BABABA;
}

.map-container {
    width: 450px;
    max-width: 100%;
    height: 350px;
}

.login-modal .modal-dialog {
    width: 350px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
}
.btn-link {
    padding: 5px 10px 0px 0px;
    color: #95a5a6;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}
.addTag_description{
    height: 24px;
}
footer {
    background: #bbb;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border-bottom:1px solid #666;
    border-top:1px solid #666;
}